body{
  background-color: black !important;
}

.heading{
  font-size: 40px;
  font-weight: 700;
  border: 2px solid rgb(197, 194, 194);
  border-radius: 5px;
  margin-top: 10px;
  background-color: cadetblue;
  color: white;
}
